body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}
.container{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}
h1{
    margin-bottom: 20px;
}
form{
    display: flex;
    margin-bottom: 20px;
}
input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}
button{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #007bff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
}
button:hover{
    background: #0056b3;
}
ul{
    list-style: none;
    padding: 0px;
}
li{
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.completed{
    text-decoration: line-through;
    color: #aaa;
}
li button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
li button:hover{
    color: red;
}